*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

 /*Paleta de colores*/
:root {
	--dark-color: #262E31;
	--main-color: #92AFBF;
	--terciary-color: #BBF6FF; /*10*/
}

@font-face {
  font-family: CheapPotatoes;
  src: url('../CheapPotatoesBlack.ttf') format('truetype');
}

@font-face{
  font-family: CheapPotatoesThin;
  src: url('../CheapPotatoesThin.ttf')format('truetype');
}

body{
	font-family: 'CheapPotatoesThin' !important;
  background-color: var(--dark-color);
  color: white;
}

nav{
	background-color: var(--dark-color);
}

header {
  background-color: var(--main-color);
  background: url(../img/header.png) no-repeat fixed;

  font-family: 'CheapPotatoes' !important;

  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 950px;
}

section{
    line-height: 2.5rem;
}

footer{
  background-color: var(--main-color);
}

.icon:hover{
  color: white !important;
}

.font-paragrapf{
  font-family: 'Lato' !important;
}

.bg-dark-main{
  background-color: var(--main-color);
}

.line{
  line-height: 4rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.hover-relleno ul li a {
  position:relative;
  z-index: 1;
}
nav.hover-relleno ul li a:hover {
  color: var(--dark-color) !important;
}
nav.hover-relleno ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--terciary-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.hover-relleno ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
}

.btn-floating{
  width: 3rem !important;
  height: 3rem !important;
}

.svg-juego{
  top: -2.5rem;
  height: 15vh;
}

.svg-juego-down{
  bottom: -6rem;
  height: 15vh;
}

#juego{
  /*transform: translateY(25deg);*/
}


/*Renpy styles*/

.emscripten { 
  margin: auto;
  display: block;
  font-family: 'Lato';
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
  border: 0px none;
  background-color: #262626;
  border-radius: 16px;
  margin: auto;
  width: 70vw;
  height: 50vh;
}

#emscripten_logo {
  display: inline-block;
  margin: 0;
}

.spinner-pos {
  height: 30px;
  width: 30px;
  vertical-align: top;
  position: absolute;
}

#statusbar_container {
  top: 0;
  width: 100%;
}

#statusbar {
  width: 50%;
  margin: auto;
  padding: 10px;
  height: -10px;
}

#ContextContainer {
  position: absolute;
  left: 0rem;
  top: 0;
}
#ContextButton {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
#ContextButton:focus {
  outline: none;
}
#ContextMenu a {
  text-decoration: none;
  color: lightgrey;
}
#ContextMenu a:hover {
  text-decoration: nsone;
  color: grey;
}
#ContextMenu {
  background-color: rgb(40,40,40);
  padding: 5px;
}